<h1>New Robot</h1>

<%# <form class="new-robot-form">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" />
  </div>
  <button type="submit">Submit</button>
</form> %>

<%= form_for @changeset, robot_path(@conn, :create), [class: "new-robot-form"],  fn f -> %>

  <div>
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>

  <%= submit "Submit" %>
<% end %>
