<div class="single-robot">
  <h1><%= robot_name(@robot) %></h1>
  <label for="fuel-level">Fuel: <%= @robot.fuel_level %>%</label>
  <meter name="fuel-level" min="0" value="<%= @robot.fuel_level %>" low="25" optimum="100" high="75" max="100"></meter>
  <%= robot_image(@robot) %>
</div>
