.top-nav-ul {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

.top-nav-ul li {
  margin: 0 1em;
  display: block;
}

/* Overrides the styles in phoenix.css */
header section :first-child,
:last-child {
  order: inherit;
}

.robot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.robot-list-item img {
  max-width: 150px;
  max-height: 150px;
}

.robot-list-item {
  display: block;
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em 0.5em 0em 0.5em;
}
.robot-list-item div {
  text-align: center;
}

.new-robot-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-robot-form div {
  display: flex;
  align-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.new-robot-form input {
  margin: 0 1em;
  text-align: center;
  font-size: large;
}
.new-robot-form button {
  align-self: center;
}

.single-robot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

meter {
  width: 66%;
}
