.top-nav-ul {
  display: flex;
  flex-direction: row;

}

.top-nav-ul li {
  margin: 0 1em;
  display: block;
}

/* Overrides the styles in phoenix.css */
header section :first-child,:last-child {
  order: inherit;
}

.robot-list {
  display: flex;
  flex-wrap: wrap;
}

.robot-list li {
  display: block;
  border: 1px solid black;
  margin: 0 1em;
  padding: 0.5em 0.5em 0em 0.5em;
}

.robot-list img {
  max-width: 150px;
  max-height: 150px;
}
